/* General
--------------------------------------------------
*/
html, body{
    margin: 0;
    padding: 0;

    height: 100%;

    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 1.7rem;
    color: #282345;
}

body{
    background: url(./bg.png) center top;
    background-size: cover;
}
p{
    font-size: 24px;
}
input{
    width: -webkit-fill-available;
    padding: 10px 20px;
    border: 1px solid #a7a7a7;
    border-radius: 12px;
}

/* Header
--------------------------------------------------
*/
header{
    padding: 0 40px 0 0;
    display: grid;
    align-items: center;
}
header ul{
    margin: 10px;
    display: inline-flex;
    justify-content: flex-end;
}
header ul li{
    padding: 10px;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #282345;
    transition: 0.3s ease-in-out;
}
header ul li a:hover{
    color: cornflowerblue;
}

/* Main
--------------------------------------------------
*/
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    height: 100%;
}

/* Sign in / Sign up
--------------------------------------------------
*/
.parent__box{
    display: grid;
    align-items: center;

    height: 100%;
}
.box{
    margin: auto;
    padding: 20px;
    width: 400px;
    background: #ffffff;
    border-radius: 12px;
}
.login__title{
    text-align: center;
}
#login{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background: cornflowerblue;
    color: #ffffff;
}
#known-user{ display: none; }
#welcome-box{ display: none; }
#welcome-back-login-text{ display: none; }
#not-me{ display: none; }
/* Responsive
--------------------------------------------------
*/
@media only screen and (max-width: 600px) {
    .parent{grid-template-columns: 0.1fr 1fr;}
}